@import url('https://fonts.googleapis.com/css?family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cuprum&display=swap');

h3 {
    font-family: 'Cuprum';
    font-size: 20px;
    margin-left: 1.8em;
}