@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
/*font-family: 'Press Start 2P', cursive;*/

.game {
    background-color: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: grid;
    grid-template-columns: auto auto;
    margin: 130px;
    border-radius: 25px;
}

.game-board {
    //background-image: url("../images/tic-tac-toe-game-on-wooden-background-J0KM0P.jpg");
    margin: auto;
    height: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 25px;
}

.square {
    width: 50px;
    height: 50px;
}

.game-info {
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Press Start 2P', cursive;
    color: #f85032;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to top, #e73827, #f85032);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to top, #e73827, #f85032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-shadow: 3px 3px 3px black;
    padding-left: 1em;
    padding-top: 1em;
    border-radius: 25px;
    box-shadow: 5px 5px 12px gray;
}

button {
    border-radius: 18px;
    width: 14em;
    height: 3em;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 1px 1px 1px #e73827;

}


